#servicios.container.h-100
  .row
    h3.col-sm-12.col-lg-12.mt-sm-5.mt-lg-0.title servicios
  .row
    ul.services.col-sm-12.px-0.d-lg-flex.justify-content-lg-between
      li.col-sm-12.col-lg-3.px-0.wow.fadeInUp(data-wow-delay='0s')
        h3.text-center.col-sm-12.px-0
          i.fas.fa-video
          span
            | SERVICIO 
            b BÁSICO
        p.text-center.col-sm-12
          | 1 cámara + transmisión por 
          br
          |  1 red social (Facebook, Youtube, 
          br
          |  Instagram, Twitter).
      li.col-sm-12.col-lg-3.px-0.wow.fadeInUp(data-wow-delay='0.5s')
        h3.text-center.col-sm-12.px-0
          i.fas.fa-video
          span
            | SERVICIO 
            b PRO
        p.text-center.col-sm-12 Servicio multicámara, hasta 4 cámaras.
      li.col-sm-12.col-lg-4.px-0.wow.fadeInUp(data-wow-delay='0.75s')
        h3.text-center.col-sm-12.px-0
          i.fas.fa-video
          spans
            | OPCIÓN 
            b Mult
            | i-streaming
        p.text-center.col-sm-12
          | Agrega esta opción si quieres 
          br
          | transmitir en simultáneo por varias 
          br
          |  redes sociales a la vez.
  .row
    article.col-sm-12.px-0.wow.fadeInUp(data-wow-delay='1.25s')
      h3.text-center.col-sm-12 Opción servicio de audio:
      p.text-center.col-sm-12.my-5
        | Si el lugar donde realizas el evento no tiene sonido, nos encargamos de todo para que
        | tu evento se escuche con calidad profesional: mesa de audio, altavoces y micrófonos.
