header.masthead#home
  .container.h-100
    .row.h-100
      .col-lg-5.col-sm-12.p-0.my-auto.wow.fadeInLeftBig(data-wow-duration="2s" data-wow-delay=".25s")
        .header-content.mx-0
          h1.mb-0
            | Productora Audiovisual
          h2.my-0
            | EMITIMOS TU EVENTO 
            | EN DIRECTO POR 
            | REDES SOCIALES
          p.py-0
            | Alcanza una mayor audiencia a través de las redes sociales. 
            | Nosotros nos encargamos de emitir tu evento o de realizar la producción audiovisual que necesites,  
            | con profesionalidad y precios inteligentes.
      .col-lg-7.col-sm-12.p-0.my-auto.wow.fadeInRightBig(data-wow-duration="2s" data-wow-delay=".25s")
        .device-container
          .device
            .screen
              img.img-fluid(src='/images/portada.jpg', alt='')
