#nosotros.container.h-100
  .row
    .col-sm-12.col-lg-4.px-0.my-auto.wow.fadeInLeft(data-wow-duration="2s" data-wow-delay=".25s")
      figure.my-0.text-sm-center.text-lg-left
        img.img-fluid(src="/images/nosotros.jpg" alt=" fotografia de nuestro")
    .col-sm-12.col-lg-8.px-5.my-auto.wow.fadeInRight(data-wow-duration="2s" data-wow-delay=".25s")
      h1.col-sm-12.col-lg-6.mt-sm-5.mt-lg-0.title ¿Quiénes somos?
      p.col-sm-12.col-lg-12.pt-5
        | Nos dedicamos a la producción audiovisual, 
        | especialmente a la transmiciones en directo de conferencias,
        | presentaciones, ruedas de prensa, y cualquier otro evento, 
        | a través de las redes sociales (facebook, youtube, instagram, twitter) para que tu mensaje llegue a una mayor audiencia.
