#contacto.container.h-100
  .row
    h3.col-sm-12.col-lg-12.mt-sm-5.mt-lg-0.title contacto
  .row.my-sm-5.my-lg-0
    .col-sm-12.col-lg-12.px-0.d-flex.justify-content-between.wow.fadeInUp(data-wow-delay='0s' data-wow-duration="2s")
      article.col-sm-12.col-lg-8.px-0.my-2
        p.col-sm-12.col-lg-8.px-0
          | Rellena el formulario y comenta brevemente el evento que quieres emitir.
          | Nos pondremos en contacto cuanto antes para concretar un presupuesto.
      form.col-sm-12.col-lg-6.px-0.my-2
        .form-row.px-0.d-flex.justify-content-between
          .form-group.col.px-0
            input#nombre.form-control(type='text', placeholder='Nombre')
          .form-group.col.px-0.ml-3
            input#apellido.form-control(type='text', placeholder='Apellido ')
        .form-row.px-0.d-flex.justify-content-between
          .form-group.col.px-0
            input#locacion.form-control(type='text', placeholder='Locación')
          .form-group.col.px-0.ml-3
            input#telefono.form-control(type='tel',  placeholder='Telofono ')
        .form-row.px-0
          .form-group.col.px-0
            input#email.form-control(type='email', placeholder='Email')
        .form-row.px-0
          .form-group.col.px-0
            textarea#mensaje.form-control(rows='3',  placeholder='Mensaje')

        
