#producciones.container.h-100
  .row
    h3.col-sm-12.col-lg-12.mt-sm-5.mt-lg-0.title producciones
  .row
    ul.produccions.col-sm-12.col-lg-6
      li.col-sm-12.col-lg-12.wow.fadeInUp(data-wow-delay='0s' data-wow-duration="2s")
        a(href="https://www.youtube.com/watch?v=vr9AuF9Mano" target="_blank")
          h3.text-left.col-sm-12.px-0 1.
          p
            b IV Encuentro Red Municipalista contra la Deuda Ilegítima y los Recortes
            br
            | Córdoba 19-21 de Octubre de 2018. 
      li.col-sm-12.col-lg-12.wow.fadeInUp(data-wow-delay='0s' data-wow-duration="2s")
        a(href="https://www.youtube.com/watch?v=pWNqC-Sj_T0" target="_blank")
          h3.text-left.col-sm-12.px-0 2.
          p
            b Municipalismo, Autogobierno y Contrapoder 4, acto de apertura 
            br
            | Madrid 22 de Junio de 2018, Ateneo de Madrid.
      li.col-sm-12.col-lg-12.wow.fadeInUp(data-wow-delay='0s' data-wow-duration="2s")
        a(href="https://www.youtube.com/watch?v=zFJbtOfWwv8" target="_blank")
          h3.text-left.col-sm-12.px-0 3.
          p
            b Foro Viento Sur: Nicaragua, una revolución fracasada 
            br
            | Madrid, 19 de Septiembre, 
            br
            | Librería Traficantes de Sueños.
      li.col-sm-12.col-lg-12.wow.fadeInUp(data-wow-delay='0s' data-wow-duration="2s")
        a(href="https://www.youtube.com/watch?v=LJfFVLRow7k" target="_blank")
          h3.text-left.col-sm-12.px-0 4.
          p
            b El Movimiento Feminista en la Transición 
            br
            | Café Feminista FEP, Madrid, 22 de Septiembre, 
            br
            | Centro Comunitario Guatemala.
    ul.produccions-thumb.col-sm-12.col-lg-6
      .col-sm-12.px-0.d-flex.justify-content-center.my-4
        .col-sm-12.col-lg-6.px-0.d-flex.wow.fadeInRightBig(data-wow-delay='.25s' data-wow-duration="2s")
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='https://www.youtube.com/embed/vr9AuF9Mano?rel=0', allowfullscreen='')
      .col-sm-12.px-0.d-flex.my-4
        .col-sm-12.col-lg-6.px-0.d-flex.wow.fadeInRightBig(data-wow-delay='.5s' data-wow-duration="2s")
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='https://www.youtube.com/embed/pWNqC-Sj_T0?rel=0', allowfullscreen='')
        .col-sm-12.col-lg-6.px-0.d-flex.mx-5.wow.fadeInRightBig(data-wow-delay='.75s' data-wow-duration="2s")
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='https://www.youtube.com/embed/zFJbtOfWwv8?rel=0', allowfullscreen='')
      .col-sm-12.px-0.d-flex.justify-content-center.ml-5.my-4
        .col-sm-12.col-lg-6.px-0.wow.fadeInRightBig(data-wow-delay='1s' data-wow-duration="2s")
          .embed-responsive.embed-responsive-16by9
            iframe.embed-responsive-item(src='https://www.youtube.com/embed/LJfFVLRow7k?rel=0', allowfullscreen='')
