footer
  .row.d-flex.justify-content-around.align-content-center.py-2
    .col-sm-12.col-lg-4.d-flex.justify-content-around.px-0.my-0
      p.text-sm-center.text-lg-left.my-0
        |Copyright REBEL STREAMING SOLUTIONS &copy 2018 All rights reserved.
    ul.col-sm-12.col-lg-6.d-flex.justify-content-between.px-0.my-0
      li.nav-item.px-0
        a.nav-link.js-scroll-trigger(href='#home') Home
      li.nav-item.px-0
        a.nav-link.js-scroll-trigger(href='#nosotros') ¿ Quines Somos ?
      li.nav-item.px-0
        a.nav-link.js-scroll-trigger(href='#servicios') Servicios
      li.nav-item.px-0
        a.nav-link.js-scroll-trigger(href='#producciones') Producciones
      li.nav-item.px-0
        a.nav-link.js-scroll-trigger(href='#blog') Blog
      li.nav-item.px-0
        a.nav-link.js-scroll-trigger(href='#contacto') Contacto
      
